ship_gimbal/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
*.pyc
*.log
*.db
*.zip
*.tar.gz
__pycache__/
.vscode/

# yolo grogram
yolov8n/

# Zone.Identifier ( windows 認證 )
*Zone.Identifier

# build plguin folder 
ros2_ws/src/ship_simulation/external/gazebo_maritime_ws/src/gazebo_maritime/build/

# temp 
*/build/
*/install/
*/log/